html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial';
  }
  nav{
    font-size: 20px;
    background: #66A1F3;
    color: white;
    font-weight: bold;
    border: 1px solid #fff;
}
    nav a{
        text-decoration: none;
        color: #ffffff;
    }

.profile-page {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .profile-header {
    text-align: center;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .profile-name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .profile-info {
    margin-top: 10px;
  }
  
  .profile-info-label {
    font-weight: bold;
  }
  
  .profile-info-value {
    margin-left: 10px;
  }